<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Test</title>
    </head>

    <body>
        <div class="container">
            <header>
                <h1>Travel Planner</h1>
            </header>
            <div>
                <div id="input-fields">
                    <input id="destination" placeholder="Destination Postal Code" type="text">
                    <input id="start-date" placeholder="DD/MM/YYYY" type="date">
                    <input id="end-date" placeholder="DD/MM/YYYY" type="date">
                </div>
                <button class="material-button" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">Submit</button>
            </div>
            <main>
                
                <div class="content img">
                    <img alt="photo"/>
                </div>
                <div class="content description">
                    <h2 id="trip-header"> My trip to: <span id="destination">Paris, France</span> </h2>
                    <h3 id="trip-date"> Departing: 02/12/2020 </h3>
                    <div class="buttons">
                        <button>save trip</button>
                        <button>remove trip</button>
                    </div>
                    <h4 id="days-away-message"> Paris, France is 220 days away</h4>
                    <p> Typical weather for then is:</p>
                    <p id="length-of-trip"> High: -48, Low: -35</p>
                    <p id="weather-information"> Mostly cloudy throughout the day</p>
                </div>
            </main>
    
        </div>
        
    </body>

    <script>
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
</html>
