<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Test</title>
    </head>

    <body>
        <div class="container">
            <header>
                <h1>Travel Planner</h1>
            </header>
    
            <main>
                <div class="content img">
                    <img alt="photo"/>
                </div>
                <div class="content description">
                    <h2> My trip to: <span id="destination">Paris, France</span> </h2>
                    <h3> Departing: 02/12/2020 </h3>
                    <div class="buttons">
                        <button>save trip</button>
                        <button>remove trip</button>
                    </div>
                    <h4> Paris, France is 220 days away</h4>
                    <p> Typical weather for then is:</p>
                    <p> High: -48, Low: -35</p>
                    <p> Mostly cloudy throughout the day</p>
                </div>
            </main>
    
        </div>
        
    </body>
</html>
